<div class="container">
  <form #addForm="ngForm" (ngSubmit)="addProduct()">
    <div class="form-group">
      <label for="name">Product Name</label>
      <input
        name="name"
        type="text"
        id="name"
        ngModel
        required
        minlength="3"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="image-url">Product Url</label>
      <input
        name="imageUrl"
        type="text"
        id="image-url"
        ngModel
        required
        minlength="3"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="unitPrice">Product Unit Price</label>
      <input
        name="unitPrice"
        type="number"
        id="unitPrice"
        ngModel
        required
        min="0"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="stock">Product Stock</label>
      <input
        name="stock"
        type="number"
        id="stock"
        ngModel
        required
        min="0"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <button class="btn btn-success w-100 mt-2" [disabled]="!addForm.valid">
        Add Product
      </button>
    </div>
  </form>
</div>
